<style>

.{{ block.id }}  p,
 h1,
 h2,
 h3,
 h4,
 h5,
h6,
 a,
section {
  color:{{ block.settings.text_color }}!important;
  
</style>


<div id="custom_announcement_bar_item" style="" class="{{ block.id }}"> 
   <div style="color:{{ block.settings.text_color }}" >{{  block.id }}</div>
  {{ block.settings.ann_text }}
</div>

{% schema %}
  {
    "name": "Custom announcment item",
    "class": "swiper-slide",
    "settings": [
      {
        "type": "richtext",
        "id": "ann_text",
        "label": "Announcement text"
      },   
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default":"#fff"
      },
      {
        "type": "text_alignment",
        "id": "text_alignment",
        "label": "Text alignment",
        "default":"center"
      }
    ],
    "presets": [
      {
        "name": "Custom announcment item",
         "settings": {
           "ann_text":"<p>Announcement text</p>"
         }
      }
    ]
    
  }
{% endschema %}